.container7 {
  max-width: 960px;
  margin: auto;
}

body {
  background-color: #34739B;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

.draggable-list {
  padding: 5px;
  margin: 0 auto;
  text-align: center;
}
#draggable-list2 {
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  font-size: 20pt;
}

.item {
  list-style: none;
  padding: 10px;
  margin: 5px;
  background-color: #F08C00;
  border: 1px solid #A35F00;
  color: #FFFFFF;
  cursor: grab;
}
.dropbox {
  list-style: none;
  padding: 10px;
  margin: 5px;
  background-color: #0093F0;
  border: 1px solid #458FBE;
  color: #FFFFFF;
  cursor: grab;
}

.over {
  background-color: #90a4ae;
}


table {
  max-width:640px;
  margin: auto;
  margin-bottom: 20px;
}

th, td {
  padding: 10px 10px;
}

td {
  border: 1px solid #6CB0D9;
}

tr:nth-child(even) {
  background-color: #0093F0;
}

.button {
  margin: auto;
  cursor: pointer;
  display: block;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: #F08C00;
  color: #fff;
}

.button:hover {
  background-color: #A35F00;
}

#endMessage {
  display: none;
}
a {
  text-decoration: none;
  color: #FFFFFF;
}
h1 {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
h2 {
    display: flex;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
p {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}
button {
   background-color: #F08C00 ; 
   color: #FFFFFF;
   font-family: Arial, Helvetica, sans-serif;
}
button:hover {
  background-color: #A35F00;
  text-decoration: underline;
}img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; 
   box-shadow: 0 15px 12px rgb(0, 0, 0, 0.1);
}
li {
    padding: 8px;
    line-height: 1.2;
}
footer {
    background-color: #458FBE;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
}
#nav-bar {
    background-color: #0093F0 ;
    padding: 0 20px;
    box-shadow: 0 4px 12px rgb(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-list {
    display: flex;
    list-style: none;
}
.Navigation:Hover {
    text-decoration: underline;
    color: #F08C00;
}
#norm {
    position: relative;
    left: 10px;
    top: 5px;
}
.flexDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  margin: 10px;
  left: 285px;
  bottom:85px;
  z-index: 10;
}
.selectWrapper {
  width: 100%;
  position: relative;
  opacity: 0;
  pointer-events: none;
  transition: opacity 100ms linear 0s;
  filter: drop-shadow(0 6px 26px rgba(0, 0, 0, 0.24));
  padding-top: calc(var(--sizeVar) / 2);
}
.multiSelect {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  border: 1px solid var(--borderColor);
  box-sizing: border-box;
  border-radius: calc(var(--sizeVar) / 2);
  position: absolute;
  width: auto;
  left: 0;
  right: 0;
  overflow: hidden;
  background: #0093F0;
  transition: transform 300ms ease-in-out 0s, clip-path 300ms ease-in-out 0s;
  z-index: 15;
}
.multiSelect div {
  color: var(--textPrimary);
  padding: 16px;
  width: auto;
  cursor: pointer;
}
.multiSelect div:hover {
  background-color: #F08C00;
  text-decoration: underline;
}
.sec_btn {
  width: 125px;
  margin: 0px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 11pt;
}
#Welcome {
    margin-top: 50px;
    font-size: 40pt;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
#Welcome2 {
    font-size: 20pt;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
