body {
    background-color: #34739B;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: #FFFFFF;
}
h1 {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
h2 {
    display: flex;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
p {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}
button {
   background-color: #F08C00 ; 
   color: #FFFFFF;
   font-family: Arial, Helvetica, sans-serif;
}
button:hover {
  background-color: #A35F00;
  text-decoration: underline;
}img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; 
   box-shadow: 0 15px 12px rgb(0, 0, 0, 0.1);
}
li {
    padding: 8px;
    line-height: 1.2;
}
footer {
    background-color: #458FBE;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
}
#nav-bar {
    background-color: #0093F0 ;
    padding: 0 20px;
    box-shadow: 0 4px 12px rgb(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-list {
    display: flex;
    list-style: none;
}
.Navigation:Hover {
    text-decoration: underline;
    color: #F08C00;
}
#norm {
    position: relative;
    left: 10px;
    top: 5px;
}
.flexDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  margin: 10px;
  left: 285px;
  bottom:85px;
  z-index: 10;
}
.selectWrapper {
  width: 100%;
  position: relative;
  opacity: 0;
  pointer-events: none;
  transition: opacity 100ms linear 0s;
  filter: drop-shadow(0 6px 26px rgba(0, 0, 0, 0.24));
  padding-top: calc(var(--sizeVar) / 2);
}
.multiSelect {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  border: 1px solid var(--borderColor);
  box-sizing: border-box;
  border-radius: calc(var(--sizeVar) / 2);
  position: absolute;
  width: auto;
  left: 0;
  right: 0;
  overflow: hidden;
  background: #0093F0;
  transition: transform 300ms ease-in-out 0s, clip-path 300ms ease-in-out 0s;
  z-index: 15;
}
.multiSelect div {
  color: var(--textPrimary);
  padding: 16px;
  width: auto;
  cursor: pointer;
}
.multiSelect div:hover {
  background-color: #F08C00;
  text-decoration: underline;
}
.sec_btn {
  width: 125px;
  margin: 0px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 11pt;
}
#Welcome{
    display: flex;
    margin-top: 50px;
    font-size: 40pt;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    
}
#Welcome2 {
    font-size: 20pt;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.slideshow-container {
  max-width: 80%;
  position: relative;
  margin: auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #A35F00;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 200px;
}
.dot2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #A35F00;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 40px;
}
.active, .dot:hover {
  background-color: #F08C00;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
#imgss img {
    max-height: 200px;
}
#foottxt {
    text-align: center;
}
#Carlos {
  text-decoration: underline;
  color: #FFFFFF;
  background-color:#F08C00;
  padding: 10px;
  border-radius: 3px;
}
#Carlos:hover {
  text-decoration: none;
  color:#0093F0;
}
#weird {
  margin-top: 100px;
  font-size: 15pt;
  text-align: center;
}
#description {
  margin-top: 40px;
  font-size: 15pt;
  text-align: center;
  background-color: #0093F0;
  padding: 30px;
  line-height: 1.8;
   box-shadow: 0 4px 12px rgb(0, 0, 0, 0.1);
  
}
.continue {
  width: 150px;
  margin-bottom: 100px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 17pt;
   box-shadow: 0 15px 12px rgb(0, 0, 0, 0.1);
}
#video {
  width: 100%;
  height: 315px;
}
.container2 {
  margin: 40px;
  margin-left: 10%;
  margin-right: 10%;
}
@media (max-width: 482px) {
  .sec_btn {
  width: 100px;
  margin: 0px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 8pt;
}
li {
    padding: 8px;
    font-size: 8pt;
}
}
h3 {
  color:#FFFFFF
}
.zoom {
  padding: 50px;
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.container3 {
  margin: 40px;
  margin-left: 3%;
  margin-right: 3%;
}
.container4 {
  margin: 40px;

}
#special2 {
  margin-top: 150px;
}
.container5 {
  margin: 40px;
  margin-left: 10%;
  margin-right: 10%;
}
#description2 {
  margin-top: 40px;
  text-align: center;
 
  background-color:#F08C00;
  padding: 5px;
  line-height: 1.8;
  margin-right: 30%;
  margin-left: 30%;
  border-radius: 8px;
}
#description3 {
  margin-top: 100px;
  text-align: center;
 
  background-color:#F08C00;
  padding: 5px;
  line-height: 1.8;
  padding: 2px;
  border-radius: 8px;
  margin-left: 40%;
  margin-right: 40%;
  font-size: 8pt;
   box-shadow: 0 15px 12px rgb(0, 0, 0, 0.1);
}


/* Styling for the Quiz Mini-Game*\






